<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Criar Ninja</title>
</head>

<body>

<h1>Criar Ninja</h1>

<form th:object="${ninja}"
      method="post"
      th:action="@{/web/ninjas/novo}">

    <label>Nome:</label>
    <input type="text" th:field="*{nome}">

    <label>Email:</label>
    <input type="email" th:field="*{email}">

    <label>Idade:</label>
    <input type="number" th:field="*{idade}">

    <label>Rank:</label>
    <input type="text" th:field="*{rank}">

    <label>Imagem:</label>
    <input type="text" th:field="*{imUrl}">

    <label>Missão:</label>
    <select name="missaoId">
        <option value="">Sem missão</option>

        <option th:each="missao : ${missoes}"
                th:value="${missao.id}"
                th:text="${missao.nome}">
        </option>
    </select>

    <button type="submit">Criar</button>

</form>

</body>
</html>