<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Editar Ninja</title>
</head>

<body>

<h1>Editar Ninja</h1>

<form th:object="${ninja}"
      method="post"
      th:action="@{/web/ninjas/{id}/editar(id=${ninja.id})}">

    <label>Nome:</label>
    <input type="text" th:field="*{nome}">

    <label>Email:</label>
    <input type="text" th:field="*{email}">

    <label>Rank:</label>
    <input type="text" th:field="*{rank}">

    <label>Missão:</label>

    <select name="missaoId">
        <option value=""
                th:selected="${ninja.missoes == null}">
            Sem missão
        </option>

        <option th:each="missao : ${missoes}"
                th:value="${missao.id}"
                th:text="${missao.nome}"
                th:selected="${ninja.missoes != null and ninja.missoes.id == missao.id}">
        </option>
    </select>

    <button type="submit">Salvar</button>

</form>

</body>
</html>