<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Ninjas</title>
</head>
<body>

<h1>Lista de Ninjas</h1>

<a th:href="@{/web/ninjas/novo}">Novo Ninja</a>
<a th:href="@{/web/missoes}">Missões</a>

<table>

        <tr>
    <th>ID</th>
    <th>Imagem</th>
    <th>Nome</th>
    <th>Email</th>
    <th>Rank</th>
    <th>Missão</th>
    <th>Ações</th>
        </tr>

<tr th:each="ninja : ${ninjas}">
    <td th:text="${ninja.id}"></td>
    <td>
    <img th:src="${ninja.imUrl}">
    </td>
    <td th:text="${ninja.nome}"></td>
    <td th:text="${ninja.email}"></td>
    <td th:text="${ninja.rank}"></td>
    <td th:text="${ninja.missoes != null ? ninja.missoes.nome : 'Sem missão'}"></td>
    <td>
        <a th:href="@{/web/ninjas/{id}/editar(id=${ninja.id})}">
            Editar
        </a>
        <form th:action="@{/web/ninjas/{id}/excluir(id=${ninja.id})}"
              method="post">
            <button type="submit">Excluir</button>
        </form>
    </td>
</tr>
</table>

</body>
</html>