<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Ninjas</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>


<main class="container">

<h1>Lista de Ninjas</h1>


<table>

        <tr>
    <th>ID</th>
    <th>Imagem</th>
    <th>Nome</th>
    <th>Email</th>
    <th>Idade</th>
    <th>Rank</th>
    <th>Missão</th>
    <th>Ações</th>
        </tr>

<tr th:each="ninja : ${ninjas}">
    <td th:text="${ninja.id}"></td>
    <td>
    <img th:src="${ninja.imUrl}">
    </td>
    <td th:text="${ninja.nome}"></td>
    <td th:text="${ninja.email}"></td>
    <td th:text="${ninja.idade}"></td>
    <td>
    <span class="badge-rank"
          th:text="${ninja.rank}">
    </span>
    </td>
    <td th:text="${ninja.missoes != null ? ninja.missoes.nome : 'Sem missão'}"></td>
    <td>
    <td>
        <div class="acoes">

            <a class="btn-detalhes"
               th:href="@{/web/ninjas/{id}(id=${ninja.id})}">
                Ver detalhes
            </a>

            <a class="btn-editar"
               th:href="@{/web/ninjas/{id}/editar(id=${ninja.id})}">
                Editar
            </a>

            <form th:action="@{/web/ninjas/{id}/excluir(id=${ninja.id})}"
                  method="post">
                <button class="btn-excluir" type="submit">
                    Excluir
                </button>
            </form>

        </div>
    </td>
</tr>
</table>

</main>

</body>
</html>