<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Editar Missão</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<main class="container">
<h1>Editar Missão</h1>

<form th:action="@{/web/missoes/nova}"
            th:object="${missao}"
            method="post"
            class="formulario">

    <div class="form-grupo">
        <label>Nome:</label>
        <input type="text" th:field="*{nome}">
    </div>

    <div class="form-grupo">
        <label>Dificuldade:</label>
        <input type="text" th:field="*{dificuldade}">
    </div>

    <div class="form-acoes">
    <button type="submit">Salvar</button>
    <a th:href="@{/web/missoes}">Voltar para Missões</a>
    </div>

</form>
</main>

</body>
</html>