<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Missões</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>
<main class="container">

<h1>Lista de Missões</h1>


<table>

    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Dificuldade</th>
        <th>Ações</th>
    </tr>

    <tr th:each="missao : ${missoes}">
        <td th:text="${missao.id}"></td>
        <td th:text="${missao.nome}"></td>
        <td th:text="${missao.dificuldade}"></td>

        <td>
            <div class="acoes">

                <a class="btn-editar"
                   th:href="@{/web/missoes/{id}/editar(id=${missao.id})}">
                    Editar
                </a>

                <form th:action="@{/web/missoes/{id}/excluir(id=${missao.id})}"
                      method="post">
                    <button class="btn-excluir" type="submit">
                        Excluir
                    </button>
                </form>

            </div>
        </td>
    </tr>

</table>
</main>

</body>
</html>