<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Missões</title>
</head>

<body>

<h1>Lista de Missões</h1>

<a th:href="@{/web/missoes/nova}">Nova Missão</a>

<table>

    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Dificuldade</th>
        <th>Ações</th>
    </tr>

    <tr th:each="missao : ${missoes}">
        <td th:text="${missao.id}"></td>
        <td th:text="${missao.nome}"></td>
        <td th:text="${missao.dificuldade}"></td>

        <td>
            <a th:href="@{/web/missoes/{id}/editar(id=${missao.id})}">
                Editar
            </a>
            <form th:action="@{/web/missoes/{id}/excluir(id=${missao.id})}"
                  method="post">

                <button type="submit">Excluir</button>

            </form>
        </td>
    </tr>

</table>

</body>
</html>